<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/cssFiles/home.css">
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <body>
        <div class="home-page">
            <div class="overlay">
                <h1>Welcome to LeedsLinked</h1>
                <br>
                <p>Explore and share your thoughts with your community.</p>
                <br>
                <p><small>Scroll down to learn more</small></p>
            </div>
        </div>

        <div class="welcome-section">
            <h2>Welcome to LeedsLinked</h2>
            <h3>Your University of Leeds Community</h3>
            <p>
                LeedsLinked is an exclusive online community tailored for the vibrant student body of the University of Leeds. Whether you're a first-year navigating campus life, a final-year student facing the challenges of dissertation season, or anyone in between, this hub is your go-to destination for all things Leeds.
            </p>
            <div class="main-content">
                <p>What Makes LinkedLeeds Special:</p>
                <ul>
                    <li>
                        <strong>Subject-Specific Blogs:</strong> Dive into blogs tailored to your specific courses and subjects by searching them. Connect with peers studying the same modules, share study tips.
                    </li>
                    <li>
                        <strong>Leeds Life:</strong> Explore the best of Leeds beyond the lecture halls. Discover local events, favorite hangout spots, and recommendations from fellow students. From hidden gems to must-visit places, this is your guide to the city.
                    </li>
                    <li>
                        <strong>University Affairs:</strong> Stay in the loop with the latest university news, events, and announcements. Discuss campus developments, student organizations, and opportunities to get involved in the University of Leeds community.
                    </li>
                    <li>
                        <strong>Accommodation Insights:</strong> Whether you're a resident of university accommodation or navigating the private housing market, exchange advice, ask questions, and share your experiences with finding the perfect place to call home in Leeds.
                    </li>
                    <li>
                        <strong>Career Corner:</strong> Connect with students pursuing similar career paths, seek advice from alumni, and stay informed about career-related events and opportunities specific to the University of Leeds.
                    </li>
                </ul>
                <p>How to Get Involved:</p>
                <ul>
                    <li>
                        <strong>Add To Your Profile:</strong> Create a profile and join our community! Share a bit about yourself, your course, and your interests. Connect with other students.
                    </li>
                    <li>
                        <strong>Engage in Blogging:</strong> Give your opinon by blogging on what's happening across University. Ask questions, offer insights, and be part of a supportive community that understands the unique journey of a University of Leeds student.
                    </li>
                    <li>
                        <strong>Stay Updated:</strong> Look through blogs and learn about important university updates, upcoming events. Tailor your experience to ensure you're always in the know.
                    </li>
                    <li>
                        <strong>Give your opinon:</strong> Like or dislike blogs to share what you think about what people are saying out there
                    </li>
                </ul>
            </div>
            <p>
                LinkedLeeds is more than just blogging—it's your digital home for the University of Leeds experience. Join us in building a community that reflects the diversity, spirit, and excellence of our university. Let's make every moment at Leeds memorable, together.
            </p> 
            <br><br><br><br>
        </div>
    </body>
    </html>
    {% endblock %}
</body>