<head>
    <title>Login</title>
    <link rel="stylesheet" href="../static/cssFiles/LonginAndRegister.css">
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
        {% for field, errors in form.errors.items() %}
            {% for error in errors %}
                <div class="flash-message" onclick="removeFlashMessage(this)">
                    <p>{{ error }}</p>
                    <button class="close-button" onclick="removeFlashMessage(this.parentElement)">&times;</button>
                </div>
            {% endfor %}
        {% endfor %}

        <h2 class="second-header">Login</h2>

        <div class="form">
            <form method="POST" action="" name="Login">
                {{ form.hidden_tag() }}
                
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email">

                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password">

                <br>
                <p>Don't have an account? <a href="/register">Click here to Register</a></p>
                <p>By clicking Login, you agree to the <a href="#">Terms of Use</a>, the <a href="#">Privacy Policy</a>, and <a href="#">Cookie Policy</a> of LeedsLinked.</p>

                <br>
                <input name="Login" type="submit" value="Login">
            </form>
        <div>
    {% endblock %}
</body>