<head>
    <title>My Blog Posts</title>
    <link rel="stylesheet" href="../static/cssFiles/blogPosts.css">
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
        <h2 class="second-header">My Blog Posts</h2> 
        <a href="{{ url_for('add_post')}}" class="add-post-button">Add Post</a>
        {% if all_posts%}
            {% for post in all_posts%}
                <div class="blog-post">
                    <h2>{{post.title}}</h2>
                    <p class="blog-post-details">
                        Written By: <span>You</span><br/>
                        Date Published: <span>{{post.date_posted.strftime('%d %m %y')}}</span><br/>
                        Description: <span>{{post.slug}}</span>
                    </p>
                    
                    <a href="{{ url_for('single_post', id=post.id)}}" class="viewBlog-post-button">View Post</a>
                    <a href="{{ url_for('delete_post', id=post.id)}}" class="delete-post-button">Delete Post</a>
                    <a href="{{ url_for('edit_post', id=post.id)}}" class="viewBlog-post-button">Edit Post</a>
                </div>
                <br/>
            {% endfor %}
        {%else%}
            <div class="no-results">
                <p>It's a bit quite here...</p>
                <p>Add some blog posts and start adding to the online community</p>
                <p>To learn more about LeedsLinked go to to the home page by clicking LeedsLinked and scrool down</p>
            </div>
        {%endif%}
    {% endblock %}
</body>